#adminmenu .toplevel_page_convertica .wp-menu-image {
	background-image: url(../images/convertica-logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#adminmenu .toplevel_page_convertica .wp-menu-image img {
	display: none;
}

.wrap div.error,
.wrap div.updated {
	clear: both;
}

/* Convertica landing sections */

.landing-section-stuff {
	background-color: #eee;
	padding: 0.618em 1.2em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid #ccc;
}
.landing-section-stuff .section-title {
	margin-bottom: 1em;
}

.landing-section-stuff .section-title input {
	font-size: 1.2em;
	outline: 0 none;
    padding: 10px;
    width: 100%;
	margin-top: 5px;
}

/* Settings Page styles */

.csbox-label {
	padding-right:2em;
	min-width:200px;
}

.csbox-label label {
	display: block;
}